body {
    width: 700px;
    font-family: Tahoma;
    font-size: 13px;
    height: 1000px;
    margin: 0px auto;
    
}
#tieude {
    height: 40px;
    color: pink;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin: 10px auto ;
}

#banner {
    justify-content: center;
    display: flex;
}
#main {
    display: flex;
}
.background{
    height: 1em;
    width: 70px;
    background: rgb(236, 17, 138);
}
#left {
    display: flex;
    justify-content: center;
    width: 30%;
}
#right {
    width: 70%;
}


#right ol {
    margin: 0px;
    padding: 0px;
}

#right ol li span {
    
    margin-left: 20px;
    padding-right: 20px;
    color: aliceblue;
}

#footer {
    background: rgb(228, 211, 224);
    text-align: right;
    margin-left: 280px;
    color: rgb(82, 4, 82);
    font-weight: bold;
}
#text-footer{
    text-decoration: underline;
}