
h1{
	color:green;<--vô dụng vì sau h1(colorh1: black) muốn đổi màu phải thêm css vào html-->
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 5px yellow;
}

strong{
	text-decoration:underline;
}

#div1{
	color:red;
}

#div2{
	color: blue;
	background: #CCCCCC;
	padding: 20px 10% 20px 45%;
}