div h1{
	color: green;
	background: yellow;text-align: center;
	margin:0px;
	border: 1px solid black;
}

/*#tieude {
	color: green;
	background: yellow;text-align: center;
}*/

/*#tieude h1{
	color: green;
	background: red;
	text-align: center;
}*/
h2{
	border: 2px solid black;
	margin-bottom:0px;
}
hr{
	margin-bottom:0px;
	margin-top:0px;
}